Flask
Flask-Cors
PyPDF2
pdf2docx
python-docx
Pillow
gunicorn
pdf2image
docx2pdf
PyMuPDF
webcolors
google-cloud-firestore
Flask-Bcrypt
PyJWT
google-auth-oauthlib
google-api-python-client
requests
gevent
